<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/info.css">
</head>
<body>
    <div id="app">
        <form action="/info_result", method="post">
            이름 : <input type="text", name="name">
            <br>
            사는 곳 : <input type="text", name="city">
            <button>보내기</button>
        </form>
    </div>
</body>
</html>